
# Systems
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnpm-store/
venv/
__pycache__/

# Environment
.env
.env.local
.env.production
*.pem
*.key

# IDEs
.vscode/
.idea/

# Build Outputs
.next/
dist/
build/
staticfiles/

# Legacy/Backup Folders
frontend_whereiwork/

# Windows Reserved Filenames (Fix for git add errors)
themes/sneakers/v1.0.0/nul