@import "tailwindcss";

@theme {
  --font-cookie: var(--font-cookie);
  --font-montserrat: var(--font-montserrat);

  --color-primary: #ca1515;
  --color-secondary: #111111;
  --color-light: #f4f4f4;
}

:root {
  /* Design Tokens */
  --primary: #ca1515;
  --secondary: #111111;
  --light: #f4f4f4;
  --text-muted: #666666;

  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
  color: var(--secondary);
}

.font-cookie {
  font-family: var(--font-cookie), cursive;
}